<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Local Transfer Server</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="navbar">
    <a href="/" onclick="volverPrincipal()">Volver a Principal</a>
 </div>
 <div class="title">
  <h1>Local Transfer Server</h1>
 </div>
  <div class="container">
    <div class="explorer">
      <h1>Explorar archivos para Descargar</h1>
      <ul>
        <% files.forEach(file => { %>
          <li>
            <% if (file.isDirectory) { %>
              <strong><%= file.name %></strong> (Carpeta)
            <% } else { %>
              <%= file.name %>
            <% } %>
          </li>
        <% }) %>
      </ul>
      <form action="/descargar" method="post">
        <button class="button" type="submit">Descargar Archivos</button>
      </form>
    
      <h1>Explorar archivos para Subir</h1>
      <form action="/subir" method="post" enctype="multipart/form-data" class="formUpload">
        <input type="file" name="archivos" multiple />
        <button class="buttonUpload" type="submit">Subir Archivos</button>
      </form>
    </div>
  </div>
  <script src="script.js"></script>
</body>
</html>
